@mixin button() {
    outline: none;
    border: none;
    border-radius: 5rem;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
    text-transform: capitalize;
    letter-spacing:  .2rem;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
    background-color: rgb(68, 38, 38);

    &:hover{
        background-color:rgb(218, 78, 27);
        transition: .7s;
        content: '';
    }
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    transition: all .2s  linear;
}
html{
    scroll-behavior: smooth;
}
body{
    overflow-x: hidden;
}

#header{
    width: 100%;
    position: fixed;
    top:0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 4rem;
    z-index: 1000;
    background: rgb(77, 84, 87);

    .fa-angle-right{
        font-size: 4rem;
        z-index: 1000;
        color: rgb(8, 8, 8);
        cursor: pointer;
        display: none;
    }

    
    .logo{
        img{
            height: 5rem;
        }
    }
    nav{
        background: rgb(77, 84, 87);
        ul{
            display: flex;
            align-items: center;
            justify-content: space-around;
            list-style: none;
        
            li{
                margin-right: 4rem;

                a{
                    color: white;
                    font-size: 2rem;
                    text-decoration: none;
                    font-size: 130%;

                    &:hover{
                        color:black;
                    }
                }
            }
            .nav-toggle{
                left: 0%;
            }
        }
    }
}
#home{
    background: linear-gradient(0deg,grey,grey);
    position: relative;

    .content{
        h1{
            font-size: 3rem;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-weight: bolder;
            text-shadow: .1rem .1rem .3rem #333;
            color: rgb(233, 95, 198);
        }
        h2{
            font-size: 1.5rem;
            font-family: sans-serif;
            font-weight: bolder;
            text-shadow: .1rem .1rem .3rem #333;
            color: white;
            margin: 1rem 0;
        }
        p{
            font-size: 1rem;
            color: white;
            text-transform: none;
            font-family:sans-serif;

            &:hover{
                background-color: rgb(68, 38, 38);
                border-radius: 10px;
                transition: .8s;
            }
        }
        button{
            @include button();
            height: 3rem;
            width: 10rem;
       
    } 
    }

}

.fa-times{
    transform: skew(-180deg) rotate(-180deg);
}


@media (max-width:768px){
    #header{
        .fa-angle-right{
            display: block;
        }
    nav{
        position: fixed;
        top: 0; left: -100%;
        height: 100vh;
        width: 35rem;
        background: rgb(17, 14, 14);
  
        ul{
            flex-flow: column;
            justify-content: center;
            height: 100%;

             li{
                margin: 2rem 0;

               a{
                    font-size: 1.5rem;
                    border-radius: 5rem;

                    &:hover{
                        padding: .5rem 7.5rem;
                        color: white;
                        background: rgb(179, 54, 54);
                    }
                }
            }
            
        }
        
    }
    .nav-toggle{
        left: 0%;
    }
  }
}
#footer{
    background:#333;
    
    h3{
        font-size: 2rem;
        margin: 0;
        padding: 2rem 0;
        text-align: center;
        color: #fff;
    }
    #link{
        text-decoration: none;
        color: rgb(233, 95, 198) ;
    }
    .brand{
        text-align: center;
        margin-top: 2rem;
        
        a{
            
            .logo{
               
                img{
                    height: 4rem;
                }
            }
        }
        .icons{
            a{
                font-size: 2rem;
                margin: 2rem 1rem;
                color: white;

                &:hover{
                    color: rgb(233, 95, 198);
                }
            }
        }
    }
    .footer-links{
        text-align: center;
        display: flex;
        flex-flow: column;
        margin: 1rem 0;

    }
}
#cin{
    margin-left: 0;
    width: 1349px;
    height: 700px;
    margin-right: 0;
}
#h55{
    margin-top: 10px;
    margin-left: 130px;
}
#pi{
    text-transform: none;
    text-align: justify;
    &:hover{
        background-color: silver ;
    }
}
#pii{
    text-transform: none;
    text-align: justify;
    &:hover{
        background-color: rgb(172, 63, 63);
    }
}
#btnn{
    transition: .6s;
    overflow: hidden;

    &:hover{
        background:rgb(100,85,85);
        cursor: pointer;
    }
}
#card{
    transition: 1.2s;
    &:hover{
        transform: scale(1.1);
        box-shadow: -25px 10px 15px rgb(51, 46, 46);
        z-index: 2;
    }
}
#jumb{
    background-color:rgb(78, 77, 77);
     width: 310px;
     margin-left: 105px;
     border-radius:13px;
     border: 2px solid black;

    #ki{
        border: 1px solid black;
        border-radius: 12px;
        background-color: rgb(167, 73, 89);
        width: 72px;
        margin-left: 100px;
        margin-top: 5px;

        &:hover{
            background-color: rgb(46, 126, 172);
        }
        a{
            color: white;
            &:hover{
                color: white;
            }
        }

    }
}




